<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>droplet</string>
	<key>CFBundleIconFile</key>
	<string>gedit.icns</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>org.gnome.wiki.Apps.Gedit.Gedit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>48.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>48.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>CFBundleName</key>
	<string>Gedit4X11</string>
	<key>CFBundleDisplayName</key>
	<string>Gedit Editor</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
				<string></string>
				<string>xml</string>
				<string>plist</string>
				<string>diff</string>
				<string>html</string>
				<string>build</string>
				<string>orig</string>
				<string>sh</string>
				<string>patch</string>
				<string>c</string>
				<string>h</string>
				<string>m</string>
				<string>F</string>
				<string>cpp</string>
				<string>py</string>
				<string>log</string>
				<string>txt</string>
				<string>m3u</string>
				<string>m4</string>
				<string>ac</string>
				<string>adoc</string>
				<string>in</string>
				<string>md</string>
				<string>conf</string>
				<string>toml</string>
				<string>ini</string>
				<string>cfg</string>
				<string>pc</string>
				<string>rst</string>
				<string>doap</string>
				<string>override</string>
				<string>ui</string>
				<string>metadata</string>
				<string>bundle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gedit.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/html</string>
				<string>text/plain</string>
				<string>text/richtext</string>
				<string>text/x-shellscript</string>
				<string>text/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Gedit Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gedit.icns</string>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.apple.TextEdit.editing</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gedit.icns</string>
			<key>CFBundleTypeName</key>
			<string>NSStringPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
			<key>NSIsRelatedItemType</key>
			<true/>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.apple.TextEdit.editing</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gedit.icns</string>
			<key>CFBundleTypeName</key>
			<string>Apple SimpleText document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.traditional-mac-plain-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.apple.TextEdit.editing</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gedit.icns</string>
			<key>CFBundleTypeName</key>
			<string>Unknown document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.apple.TextEdit.editing</string>
		</dict>
	</array>
</dict>
</plist>
